# CSE 4020 - Database Systems
## Activity 1 - Spring 2023
#### Name: Liam Dumbell
## Question 1:  Create a DDL file based on the following ER diagram (You may use dbdiagram.io as demonstrated in class or you may create the tables manually). Make sure to represent the keys (primary and foreign) in your DDL. Add yourDDL file as Markdown color-coded SQL statements to your notebook.

```sql
drop database if exists imdb_movies;
create database imdb_movies;

use imdb_movies;
create table directors (
  id INT(11),
  first_name VARCHAR(100),
  last_name VARCHAR(100),
  primary key (id)
);

create table directors_genres (
  director_id INT(11),
  genre VARCHAR(100),
  prob FLOAT,
  primary key (director_id, genre),
  foreign key (director_id) references directors (id) on delete cascade
);

create table movies (
  id INT(11),
  name VARCHAR(100),
  year INT(11),
  `rank` FLOAT, -- backticks used to avoid issue that rank is a reserved word
  primary key (id)
);

create table actors (
  id INT(11),
  first_name VARCHAR(100),
  last_name VARCHAR(100),
  gender CHAR(1),
  primary key (id)
);

create table roles (
  actor_id INT(11),
  movie_id INT(11),
  role VARCHAR(100),
  primary key (role, actor_id, movie_id),
  foreign key (actor_id) references actors (id) on delete cascade,
  foreign key (movie_id) references movies (id) on delete cascade
);

create table movies_genres (
  movie_id INT(11),
  genre VARCHAR(100),
  primary key (genre, movie_id),
  foreign key (movie_id) references movies (id) on delete cascade
);

create table movies_directors (
  director_id INT(11),
  movie_id INT(11),
  primary key (movie_id, director_id),
  foreign key (movie_id) references movies (id) on delete cascade,
  foreign key (director_id) references directors (id) on delete cascade
);
```

## Question 2:  In a Jupyter Notebook, write code either in Python, Java or C, or another imperative language, to create a database named imdb_movies; then use code to connect to your DB instance and create each of the tables in your DDL file. Do not rename the tables or any attributes in the ER diagram. (Language Chosen: Python)

In [5]:
import mysql.connector
def batch_execute_ddl(conn, ddl_file_path): # connection
    cursor = conn.cursor()
    ddl_file = open(ddl_file_path)
    sql = ddl_file.read()
    
    for result in cursor.execute(sql, multi=True): # remove multi if you're executing 1 statement
        if result.with_rows:
            print(f"Rows returned: {result.statement}")
            print(result.fetchall())
        else:
            print(f"Number of rows affected by statement {result.statement}: {result.rowcount}")
    conn.close()
    ddl_file.close()

In [6]:
import mysql.connector
def main():
    host = 'localhost'
    user = 'root'
    password = open("credentials.txt").read() # contains password
    conn = mysql.connector.connect(host=host, 
                                   user=user,
                                   password=password)
    ddl_file_path = "imdb_movies.sql"
    
    batch_execute_ddl(conn, ddl_file_path)
    
main()

Number of rows affected by statement drop database if exists imdb_movies: 7
Number of rows affected by statement create database imdb_movies: 1
Number of rows affected by statement use imdb_movies: 0
Number of rows affected by statement create table directors (
  id INT(11),
  first_name VARCHAR(100),
  last_name VARCHAR(100),
  primary key (id)
): 0
Number of rows affected by statement create table directors_genres (
  director_id INT(11),
  genre VARCHAR(100),
  prob FLOAT,
  primary key (director_id, genre),
  foreign key (director_id) references directors (id) on delete cascade
): 0
Number of rows affected by statement create table movies (
  id INT(11),
  name VARCHAR(100),
  year INT(11),
  `rank` FLOAT, -- backticks used to avoid issue that rank is a reserved word
  primary key (id)
): 0
Number of rows affected by statement create table actors (
  id INT(11),
  first_name VARCHAR(100),
  last_name VARCHAR(100),
  gender CHAR(1),
  primary key (id)
): 0
Number of rows affected by statement create table roles (
  actor_id INT(11),
  movie_id INT(11),
  role VARCHAR(100),
  primary key (role, actor_id, movie_id),
  foreign key (actor_id) references actors (id) on delete cascade,
  foreign key (movie_id) references movies (id) on delete cascade
): 0
Number of rows affected by statement create table movies_genres (
  movie_id INT(11),
  genre VARCHAR(100),
  primary key (genre, movie_id),
  foreign key (movie_id) references movies (id) on delete cascade
): 0
Number of rows affected by statement create table movies_directors (
  director_id INT(11),
  movie_id INT(11),
  primary key (movie_id, director_id),
  foreign key (movie_id) references movies (id) on delete cascade,
  foreign key (director_id) references directors (id) on delete cascade
): 0

## Question 3:  Write code using the language chosen in question 2 above to connect to your DB instance and insert the data from each of the CSV files provided on Canvas into the your imdb_movies database. Display the number of rows affected for each table (1 cumulative count for all inserts per table - example: 388269 rows inserted for table movies).

In [7]:
import csv
def download_actors(conn):
    cursor = conn.cursor()
    count = 0

    with open("data/imdb_ddl/actors.sql", "r", encoding="UTF-8") as file:
        for line in file:
            cursor.execute(line)
        cursor.execute("SELECT COUNT(*) AS NumRowsInserted FROM actors")
        count += cursor.fetchone()[0]
    conn.commit()
    print(count, "rows inserted for table actors")

In [8]:
import csv
def download_directors(conn):
    cursor = conn.cursor()
    count = 0

    with open("data/imdb_ddl/directors.sql", "r", encoding="UTF-8") as file:
        for line in file:
            cursor.execute(line)
        cursor.execute("SELECT COUNT(*) AS NumRowsInserted FROM directors")
        count += cursor.fetchone()[0]
    conn.commit()
    print(count, "rows inserted for table directors")

In [9]:
import csv
def download_directors_genres(conn):
    cursor = conn.cursor()
    count = 0

    with open("data/imdb_ddl/directors_genres.sql", "r", encoding="UTF-8") as file:
        for line in file:
            cursor.execute(line)
        cursor.execute("SELECT COUNT(*) AS NumRowsInserted FROM directors_genres")
        count += cursor.fetchone()[0]
    conn.commit()
    print(count, "rows inserted for table directors_genres")

In [10]:
import csv
def download_movies(conn):
    cursor = conn.cursor()
    count = 0

    with open("data/imdb_ddl/movies.sql", "r", encoding="UTF-8") as file:
        for line in file:
            cursor.execute(line)
        cursor.execute("SELECT COUNT(*) AS NumRowsInserted FROM movies")
        count += cursor.fetchone()[0]
    conn.commit()
    print(count, "rows inserted for table movies")

In [19]:
import csv
def download_movies_directors(conn):
    cursor = conn.cursor()
    count = 0

    with open("data/imdb_ddl/movies_directors.sql", "r", encoding="UTF-8") as file:
        for line in file:
            cursor.execute(line)
        cursor.execute("SELECT COUNT(*) AS NumRowsInserted FROM movies_directors")
        count += cursor.fetchone()[0]
    conn.commit()
    print(count, "rows inserted for table movies_directors")

In [12]:
import csv
def download_movies_genres(conn):
    cursor = conn.cursor()
    count = 0

    with open("data/imdb_ddl/movies_genres.sql", "r", encoding="UTF-8") as file:
        for line in file:
            cursor.execute(line)
        cursor.execute("SELECT COUNT(*) AS NumRowsInserted FROM movies_genres")
        count += cursor.fetchone()[0]
    conn.commit()
    print(count, "rows inserted for table movies_genres")

In [13]:
import csv
from mysql.connector.errors import IntegrityError
def download_roles(conn):
    cursor = conn.cursor()
    count = 0
    line_count = 1

    with open("data/imdb_ddl/roles.sql", "r", encoding="UTF-8") as file:
        for line in file:
            cursor.execute(line)
        cursor.execute("SELECT COUNT(*) AS NumRowsInserted FROM roles")
        count += cursor.fetchone()[0]
    conn.commit()
    print(count, "rows inserted for table roles")

In [14]:
import mysql.connector
from mysql.connector.errors import IntegrityError
def main():
    host = 'localhost'
    user = 'root'
    database_name = 'imdb_movies'
    ddl_file_path = 'imdb_movies.sql'
    password = open("credentials.txt").read() # contains password
    conn = mysql.connector.connect(host=host, 
                                   user=user,
                                   password=password,
                                   database=database_name)
    
    download_actors(conn)
    download_directors(conn)
    download_movies(conn)
    download_movies_genres(conn)
    download_directors_genres(conn)
    download_movies_directors(conn)
    download_roles(conn)

    conn.commit()
    
main()

817718 rows inserted for table actors
86880 rows inserted for table directors
388269 rows inserted for table movies
395119 rows inserted for table movies_genres
156562 rows inserted for table directors_genres
301873 rows inserted for table movies_directors
3431966 rows inserted for table roles

## Question 4: Write and execute a query that returns a count of all movies in the database where the rank column is not NULL. Print out only the count.

In [18]:
import mysql.connector
def main():
    host = 'localhost'
    user = 'root'
    database_name = 'imdb_movies'
    ddl_file_path = 'imdb_movies.sql'
    password = open("credentials.txt").read() # contains password
    conn = mysql.connector.connect(host=host, 
                                   user=user,
                                   password=password,
                                   database=database_name)
    
    cursor = conn.cursor()
    cursor.execute("SELECT COUNT(*) FROM movies WHERE `rank` IS NOT NULL;")
    print("All movies in the database where the rank column is not NULL:", cursor.fetchone()[0])
    
main()

All movies in the database where the rank column is not NULL: 67245